header {
    .header__container {
        nav {
            height: 85px;
            .navbar-nav {
                width: 100%;
                justify-content: flex-end;
                text-transform: uppercase;
                .nav-item {
                    margin: 0 $spacing-m;
                    .nav-link {
                        line-height: 65px;
                    }
                }
                .Rectangle-662 {
                    display: none;
                    width: 1px;
                    height: 23px;
                    margin-top: 28px;
                    background-color: $pinkish-grey-two;
                }
            }
        }
    }
}

@include mediaQueryMax('large') {
    header {
        .header__container {
            nav {
                height: auto;
            }
        }
    }
}