.brandStory {
    position: relative;
    height: 850px;
    margin-top: 100px;
    overflow: hidden;
    .brandStory__bg {
        height: 100%;
        background-color: $cerulean;
        img {
            position: absolute;
            transform: scale(0.8);
        }
        .obj_01 {
            top: 90px;
            left: 70px;
            display: none;
        }
        .obj_02 {
            top: 60px;
            right: 170px;
            display: none;
        }
        .obj_03 {
            top: 100px;
            right: 110px;
            display: none;
        }
        .obj_04 {
            right: -100px;
            bottom: 120px;
        }
        .obj_05 {
            right: -40px;
            bottom: 120px;
        }
        .obj_06 {
            left: 0px;
            bottom: 125px;
        }
        .obj_07 {
            left: 150px;
            bottom: 125px;
        }
    }
    .brandStory__container {
        position: absolute;
        z-index: 99;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        .brandStory__text {
            p {
                width: 60%;
                margin: 0 auto;
            }
        }
        .brandStory__content {
            background-color: hsl(0, 0%, 7%);
            padding-top: 10px;
            .brandStory__rectangle {
                height: 9px;
                width: 98%;
                margin: 0 auto;
                border-top: 2px solid $cerulean;
                border-bottom: 2px solid $cerulean;
            }
            .row {
                width: 100%;
                margin-left: 0px;
                margin-right: 0px;
                .col-6 {
                    padding-left: 0px;
                    padding-right: 0px;
                }
                .brandStory__right {
                    img {
                        width: 100%;
                        height: 100%
                    }
                }
                .brandStory__left {
                    padding: 30px;
                    background-color: $white;
                    border: 3px solid #111;
                }
            }
        }
    }
}

@include mediaQueryMax('extra_large') {
    .brandStory {
        height: 1200px;
        .brandStory__container {
            .brandStory__content {
                .row {
                    flex-direction: column;
                    .brandStory__item {
                        min-width: 100%;
                    }
                }
            }
        }
    }
}

@include mediaQueryMax('large') {
    .brandStory {
        height: 1200px;
        .brandStory__container {
            .brandStory__text {
                p {
                    width: 80%;
                }
            }
            .brandStory__content {
                .row {
                    flex-direction: column;
                    .brandStory__item {
                        min-width: 100%;
                    }
                }
            }
        }
    }
}