* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a:hover {
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}

html {
    scroll-behavior: smooth;
}